includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
        - codeon-multilingual.php
        - uninstall.php
    excludePaths:
        - vendor
        - node_modules
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.iterableValue
